html{
    background-color: white;
}
header{
    background-color: white;

}
header .logo{
    padding-right: 0;
}
header .navigationbar ul {
    float: none;
    background-color: red;
}
header .navigationbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
header .navigationbar ul li a{
    color: white;
    font-size: larger;
    text-transform: uppercase;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif
}
